
/* #search-bar {
    align-items: center;
} */

.search {
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: 3px;
}

label {
    font-size: 25px;
    font-weight: bold;
}

/* .weather-info[data-state="hidden"] {
    display: none
} */

.future-weather {
    margin: 0 8px 0 8px;
    padding: 4px 16px 4px 16px;
    border: 1px solid #212529; 
    border-radius: 4px;
    color: white;
    background-color: #3c89fd;
    min-height: 250px;
    min-width: 100px;
    text-align: center;
}

#search-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#clear{
    display: flex;
    justify-content: center;
}
#clear-history{
    margin-bottom: 5px;
    min-width: 200px;
    background-color: #9ae2f8;
    font-style: italic;
}

.button {
    margin-top: 10px;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
}

